.select2-container{
	box-sizing : border-box;
	display : block;
	border : 1px solid #aaa;
	border-radius : 4px;
	cursor : pointer;
	padding-left : 8px;
	padding-right : 8px;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	position : absolute;
}